---
const { link, text, target, disabled } = Astro.props;
---

{
  disabled ? (
    <button
      class="cursor-not-allowed inline-flex w-auto px-4 py-2 mt-5 text-xs font-semibold duration-300 ease-out border rounded-full bg-gray-500 dark:bg-gray-500 dark:text-neutral-900 text-neutral-100 border-neutral-900 dark:border-gray-500"
      disabled
    >
      {text}
    </button>
  ) : (
    <a href={link} target={target || '_black'}>
      <button
        class="inline-flex w-auto px-4 py-2 mt-5 text-xs font-semibold duration-300 ease-out border rounded-full bg-neutral-900 dark:bg-white dark:text-neutral-900 text-neutral-100 border-neutral-900 hover:border-neutral-700 dark:hover:border-neutral-300 hover:bg-white dark:hover:bg-black dark:hover:text-white hover:text-neutral-900"
      >
        {text}
      </button>
    </a>
  )
}
