---
import { Image } from "astro:assets";
import logo from "@assets/images/logo.jpg";
---

<a
  href="/"
  class="w-52 h-12 group relative z-30 flex items-center space-x-1.5 text-black dark:text-white font-semibold"
>
  <Image src={logo} alt="logo" height="30" decoding="async" loading="eager"/>
  <span class="w-52">闫嵩达 | yansongda</span>
</a>
